@font-face {
    font-family: 'DukeFill';
    src: url('../fonts/duke_fill.eot');
    src: url('../fonts/duke_fill.eot?#iefix') format('embedded-opentype'),
         url('../fonts/duke_fill.woff') format('woff'),
         url('../fonts/duke_fill.ttf') format('truetype'),
         url('../fonts/duke_fill.svg#DukeFill') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DukeRegular';
    src: url('../fonts/duke.eot');
    src: url('../fonts/duke.eot?#iefix') format('embedded-opentype'),
         url('../fonts/duke.woff') format('woff'),
         url('../fonts/duke.ttf') format('truetype'),
         url('../fonts/duke.svg#DukeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}